/*---------------------------

---------------------------*/
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 
					■ default.css ■
   ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
@media  (max-width: 922px) {
	#top-line { display:none; }
	
	.breadcrumb li:not(:last-of-type), .breadcrumb li:before{
		display:none;
	}
	.breadcrumb li:last-of-type{
		font-size:x-large
	}
	#main-center { 
		width:100%;
	}
	
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 
					■ 상단메뉴 - top.menu.css ■
   ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
@media  (max-width: 922px) {
	
	* {
	    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
	}
	
	main.row-flex {
		-webkit-box-orient: vertical !important; 
	    -webkit-box-direction: normal !important; 
	    -webkit-flex-direction: column !important; 
	    -ms-flex-direction: column !important; 
	    flex-direction: column !important; 
	}
	main #main-container {
		-webkit-box-orient: vertical !important; 
	    -webkit-box-direction: normal !important; 
	    -webkit-flex-direction: column !important; 
	    -ms-flex-direction: column !important; 
	    flex-direction: column !important; 
		margin:0;
		border-right:0;
		
		display: flex;
    	flex-grow: 1  !important;
	}
	
	main #main-left { border:0  !important; }
	
	.header-top-right { display: block; padding-top:13px; margin-right: 70px;}
	
	.wrapper-center { width: auto;}
	
	nav#TOP-MENU {
		overflow:auto;
		flex-direction: column !important;
	}
	nav#TOP-MENU .nav-Home{ display:none }
	nav#TOP-MENU > ul > li.home{ display:list-item !important; }
	
	nav#TOP-MENU ul{
		flex-direction: column !important;
		    /* height: 100%;
		    width: 85%;
		    background: #fff;
		    border-right: 1px solid #ccc;
		    position: fixed; */
		    z-index: 1000;
	}
	nav#TOP-MENU > ul > li > ul{
		position:initial !important;
	}
	nav#TOP-MENU > ul li  { width:100%; }
	
	nav#TOP-MENU li a.active{ color: #fff !important; font-size:large;}
	    
	/* ###################################### */
	
	nav#TOP-MENU {
	    height: 100% !important;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: calc(100% - 65px);/* 250px; */
	    /* margin-top: 60px; */
	    transform: translateX(-100%);/* translateX(-250px); */
	    transition: transform 0ms ease-in-out;
	    /* background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%); */
	    background: linear-gradient(180deg, #dd4b39 0%, #3F5EFB 100%);
	    
	    z-index:1000;
	}
	nav#TOP-MENU > ul{
	    margin:0;
	    padding:0;
	    background:initial;
	    flex-wrap:nowrap;
	    flex:inherit;
	}
	
	nav#TOP-MENU > ul li{
		/* border-bottom: 1px solid rgba(255, 255, 255, 0.10); */
		line-height: 26px !important;
	}
	
	nav#TOP-MENU > ul > li{
		background:inherit;
		border-left:0px !important;
	}
	nav#TOP-MENU > ul > li > .item{
		height: initial;
    	justify-content: inherit;
		background:inherit;
	}
	nav#TOP-MENU > ul li:last-child{
	    border-bottom: 0px;
	}
	nav#TOP-MENU > ul li .item {
    	border-bottom: 1px solid rgba(255, 255, 255, 0.10);
	}
	nav#TOP-MENU > ul li span{
	    display: block;
	    font-size: 14px;
	    color: rgba(255, 255, 255, 0.50);
	}
	nav#TOP-MENU > ul > li > ul > li ul{
		position:initial !important;
		width: inherit !important;
		height:inherit !important;
		border-right:0px !important;
	}
	nav#TOP-MENU > ul > li > ul li ul li {
    	/* padding-left: 20px; */
	}
	nav#TOP-MENU ul > li > ul > li label.active:after {
		content: "\f068" !important; /* 마이너스 - */
	}
	nav#TOP-MENU  ul > li > ul > li label.deactive:after{
	    content: "\f067" !important;  /* 플러스 + */
	}
	
	/*   + -   */
	nav#TOP-MENU ul > li label{
		position: absolute;
	    right: 10px;
	     z-index: 99;
	    font-size: xx-large !important;
	}
	/*  ▲ ▼  */
	nav#TOP-MENU ul > li > ul > li label{
		position: absolute;
	    right: 10px;
	     z-index: 99;
	    font-size: large !important;
	}
	nav#TOP-MENU .item{
		padding:10px;
	}
	nav#TOP-MENU > ul > li {
    	color: #000;
   	    min-width: 120px;
   	    flex:inherit;
	}

	nav#TOP-MENU > ul > li:last-of-type {
		border-right: 0px ;
	}
	nav#TOP-MENU > ul li a{
	    color: #fff;
	    /* text-transform: uppercase; */
	    font-weight: bold;
	    cursor: pointer;
	    text-decoration: none;
        width: 90%;
	}
	
	nav#TOP-MENU > ul > li:not(:first-of-type):before{ border-left:0px !important; }
	/*
	--------------------------- 
	모바일 오른쪽 상단메뉴 아이콘 관련 Start
	---------------------------
	*/
				input[type="checkbox"]#openSidebarMenu:checked ~ #TOP-MENU {
				    transform: translateX(0);
				}
				
				input[type=checkbox]#openSidebarMenu {
				    transition: all 0.3s;
				    box-sizing: border-box;
				    display: none;
				}
				.sidebarIconToggle {
				    transition: all 0.3s;
				    box-sizing: border-box;
				    cursor: pointer;
				    position: fixed;
				    z-index: 1000;
				    height: 100%;
				    width: 100%;
				    top: 17px; /* 22px; *//* 상단줄 제거로 위치바뀜 */
				    right: 15px;
				    height: 22px;
				    width: 32px;
				}
				.sidebarIconToggle .spinner {
				    transition: all 0.3s;
				    box-sizing: border-box;
				    position: absolute;
				    height: 3px;
				    width: 100%;
				    background-color: #ff0047;
				}
				.sidebarIconToggle .horizontal {
				    transition: all 0.3s;
				    box-sizing: border-box;
				    position: relative;
				    float: left;
				    margin-top: 3px;
				}
				.sidebarIconToggle .diagonal.part-1 {
				    position: relative;
				    transition: all 0.3s;
				    box-sizing: border-box;
				    float: left;
				}
				.sidebarIconToggle .diagonal.part-2 {
				    transition: all 0.3s;
				    box-sizing: border-box;
				    position: relative;
				    float: left;
				    margin-top: 3px;
				}
				
				input[type=checkbox]#openSidebarMenu:checked ~ .sidebarIconToggle > .horizontal {
				    transition: all 0.3s;
				    box-sizing: border-box;
				    opacity: 0;
				}
				input[type=checkbox]#openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-1 {
				    transition: all 0.3s;
				    box-sizing: border-box;
				    transform: rotate(135deg);
				    margin-top: 8px;
				}
				input[type=checkbox]#openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
				    transition: all 0.3s;
				    box-sizing: border-box;
				    transform: rotate(-135deg);
				    margin-top: -9px;
				}
				/* main메뉴 아이콘위치를 원상복귀 */
				input[type=checkbox]#openSidebarMenu:not(:checked) ~ .sidebarIconToggle {
					position:absolute;
				}
				
				input[type=checkbox]#openSidebarMenu:checked ~ #cover-defence{ display:block !important; }
				
				/* input[type=checkbox]:checked + body {
					position:fixed;
					width:100%;
					z-index:10;
				} */
	/*
	--------------------------- 
	모바일 메뉴 아이콘 관련 End
	---------------------------
	*/

	.wrap-top-menu {
		position:static; 
		border-top:0px !important;
		height: inherit;
	}

 }
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 
					■ 왼쪽메뉴 - navi.css ■
   ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
@media  (max-width: 922px) {
	nav#main-left { flex:0 !important;flex-basis:auto !important;}
	
	nav#LEFT_MENU { margin-top:0px !important; background: #efe6e6;}
	nav#LEFT_MENU .mnuHome { display:flex;}
	nav#LEFT_MENU label.indent1 { display:flex !important; font-size: x-large !important; color: #ff0047; }
	
	nav#LEFT_MENU > ul { position:relative;}
	nav#LEFT_MENU > ul li  { position:static; display: list-item;line-height: initial; }
	nav#LEFT_MENU > ul > li:not(:first-child){
		flex:1;
	}
	nav#LEFT_MENU > ul > li:not(:first-child) > .item a{
		flex:1;
	}
	nav#LEFT_MENU > ul > li:not(:first-child) .item label{
		position:static;
	}
	
	nav#LEFT_MENU > ul > li > ul{ 
		position:absolute; width:100%;left:0;z-index:100;background-color:#5d5c5c; padding:0px 10px; 
	    border-bottom: 1px solid #3e3e3e;
	}
	
	nav#LEFT_MENU > ul > li ul {
		/* flex-direction:row; */
		align-items: stretch;
	}
	nav#LEFT_MENU > ul > li ul li {
		/* min-width:160px; */
	}
	
	/* 웹버전: 서브메뉴 줄마다 4번째 항목의  가로테두리 제거 */
	nav#LEFT_MENU > ul > li > ul > li:nth-child(4n+4) {
		border-right: 0px;
	}
	nav#LEFT_MENU > ul > li > ul > li {
	    /* border-right: 1px solid #313131; */
	    border-bottom: 1px solid #313131;
	    padding-left:0px;
	    /* flex-basis: 25%; */
	    /* flex: 0 25%; */
	}
	
	nav#LEFT_MENU > ul > li > ul li *{ color:#fff; }
	
	
	
	nav#LEFT_MENU > ul > li > ul > li ul{
		/* position: absolute; */
		left: 160px;
		top: 0px;
		/* height: 100%; */
		display: flex;
		/* align-items: center; */
		flex-direction: column;
		/* flex-wrap: wrap; */
		min-width: 160px;
		/* text-align: left; */
		flex-grow:1;
		flex-wrap: wrap;
		flex: 1;
		background: #444444;
		/* border-right: 1px solid #696969; */
	}
	
	/* 1차 메뉴항목 마다 구분선 지정 */
	nav#LEFT_MENU > ul > li:not(:first-of-type):before {
		content: "";
		position: absolute;
	    top: 25%;
	    width: 1px;
	    height: 20px;
	    border-left: 1px dotted #d4d4d4;
	}
	
	
	nav#LEFT_MENU .item { height: 40px; padding:10px; }
	
	nav#LEFT_MENU label{
	    font-size: 1.4em;/* inherit; */
	    
	    position: absolute;
	    right: 17px;
	    z-index: 99;
	    font-size: large !important;
	    
	    padding:6px;
	    border: 0px;
	    margin-left: 0px;
	    color: inherit;
	    justify-content: center;
	}
	
	nav#LEFT_MENU > ul li ul li a{
	    color: #fff;
	    /* text-transform: uppercase; */
	    font-weight: bold;
	    cursor: pointer;
	    text-decoration: none;
        /* width: 80%; */
        flex:1;
	}
	/* nav#LEFT_MENU li a.active {
	    color: #f06288;
	} */
	
	/* 트리구조형 해제 하기 */
	#LEFT_MENU li:before {
    	border-top: 0px;
	    height: inherit;
	    width: inherit;
	}
	#LEFT_MENU li:after{
		position:static ;
		border-left: 0px ;
	    height: inherit;
	    width: inherit;
	}
	
	#LEFT_MENU > ul > li ul {
    	padding-left: 0px;
	}
	
	
	
	/* ● 3차메뉴부터 트리구조로 시작 ● */ 
		nav#LEFT_MENU > ul > li > ul li ul li ul  li{position: relative;padding-left: 10px;}
		nav#LEFT_MENU > ul > li > ul li ul li ul  li:before, nav#LEFT_MENU > ul > li > ul li ul li ul  li:after {
		    content: "";
		    position: absolute;
		    left: 0px;
		}
		nav#LEFT_MENU > ul > li > ul li ul li ul  li:before {
		    border-top: 1px solid #ccc;
		    top: 15px;
		    width: 11px;/* 12px; */
		    height: 0;
		}
		nav#LEFT_MENU > ul > li > ul li ul li ul  li:after {
		    border-left: 1px solid #ccc;
		    height: 105%;
		    width: 0px;
		    top: 0px;
		}
		nav#LEFT_MENU > ul > li > ul li ul li ul > li:last-child:after {
		    height: 16px;
		}
		
		/* depth 0인경우 선 긋지 않음*/
		nav#LEFT_MENU > ul > li > ul li ul li > ul > li:before,
		#LEFT_MENU > ul > li:after
		{
			height:0;
			/* border: 0px; */
		}
		nav#LEFT_MENU > ul > li > ul li ul li ul li .item {
		    padding: 5px 10px 5px 2px;
		}
		nav#LEFT_MENU > ul > li > ul li ul li ul li {
		    padding-left: 10px;
		}
		nav#LEFT_MENU > ul > li > ul li ul li ul {
		    padding-left: 10px;
		}
		nav#LEFT_MENU > ul > li > ul> li > ul > li > .item{
			padding: 7px 10px 7px 0px;
	    }
/* ● 3차메뉴부터 트리구조로 종료 ● */ 
}