.main {
	height:100%;
	min-height: 100%;
	font-family: 'Nanum Gothic Coding', serif;
}

	/*>>>>>>>>>>>>> 헤더영역 >>>>>>>>>>>>>> */
	/*헤더영역 - 전체*/
	.main > .header { 
		display:block;
		background:#228ae6; 
	}
	.main > .header > .header-top {
    	padding:5px 0px;
    }
    /* 헤더영역 - Navigation bar */
		.main > .header > ul.nav{ 
			display:block;
			height:32px;
			line-height:32px;
			background-color: rgba(0,0,0,.2);
		}
    .main > .header > ul.nav .nav-item{ 
    	display:inline-block;
    	padding-left: 10px;
    }
    .main > .header > ul.nav a.nav-link {
		color:#E7E7E7;
	}
	
	/* 로고 */
		.main > .header .logo {
			display:block;
			padding:5px 15px;
		}
		.main > .header .logo img{ 
			height:30px;
		}
	
	/*<<<<<<<<<<<< 헤더영역 <<<<<<<<<<<<<<< */
	/* 왼쪽메뉴 */
	.main > .contents > .left-menu {
    	width:190px;
		min-width: 190px;
    	height:100%;
		/* background: #e2e8ec; */
		border-right:1px solid rgba(0,0,0,0.14);
		color:rgba(0,0,0,0.87);
	}
		/* 왼쪽메뉴 항목 */
		.main > .contents > .left-menu .nav .nav-item{ padding:5px 0px;}
		/* 왼쪽메뉴 항목 링크 */
		.main > .contents > .left-menu .nav a.nav-link {
			display:block;
			padding:.5em 1em ;
			color:#228ae6;
			font-size:14px;
		}
		/* 왼쪽메뉴 마우스 오버시 */
		.main > .contents .left-menu .nav .nav-item:hover {
		    background: rgba(255,255,255,.05);
		}
		/* 왼쪽메뉴 항목 활성화 */
		.main > .contents .left-menu .nav .nav-item.active {
		    border-right: 5px solid #1ABB9C;
		    background: rgba(255,255,255,.05);
		    border-bottom: 1px solid #223548;
		    border-top: 1px solid #3b5671;
		}
	/* 메인 컨텐츠 영역 */
	.main > .contents > .body {
	    padding: 20px 20px;
      width:100%;
	}