<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    </head>
  <body>
    <div class="container" style="position: relative;width: 100%;max-width: 800px;line-height: 1;font-family: Tahoma, Verdana, Segoe, sans-serif;color: #3c3c3c">
      <div class="wrap" style="width: 100%;margin-top: 35px;margin-bottom: 35px">
        <h1 class="logo" style="margin-bottom: 30px;text-align: center"><a href="{HOST}/" target="_blank" style="text-decoration: none;color: #3c3c3c"><img src="{HOST}/images/templates/logo.jpg" alt=""/></a></h1>
        <div class="cont-box" style="width: 100%;background: white;text-align: center;border: 1px solid #ddd">

          <div class="mail-table-wrap" style="padding-left: 40px;padding-right: 40px">
            <h3 class="table-tl" style="text-align: left;font-size: 26px;font-weight: 500;margin-bottom: 5px">Email 인증</h3>
            <table class="mail-table2" style="width: 100%;border-top: 2px solid #7b7b7b;margin-bottom: 30px">
                  <tr>
                      <th colspan=2 style="width: 30%;font-size: 14px;font-weight: 400;padding: 7px 15px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;background-color: #f7f7f7;text-align: center">아래의 인증번호를 인증번호 입력창에 입력하세요.</th>
                  </tr>
                  <tr>
                      <th style="font-size: 14px;font-weight: 400;padding: 7px 15px;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;width: 10%;background-color: #f7f7f7;text-align: center"><!-- 인증번호 -->인증번호</th>
                      <td style="font-size: 14px;font-weight: 400;padding: 7px 15px;border-bottom: 1px solid #e5e5e5;width: 30%;text-align: left">{AUTHEN_CODE}</td>
                  </tr>

            </table>
          </div>

          <div class="bt-area" style="margin-bottom: 35px"><a class="btn btn-line" href="{HOST}/" target="_blank" style="text-decoration: none;color: #ff6288;border-radius: 3px;padding: 15px 0;text-align: center;display: inline-block;font-size: 15px;min-width: 200px;background-color: #fff;border: 2px solid #ff6288">{HOST}</a></div>
        </div>

      </div>
    </div>
  </body>
</html>