<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    </head>
  <body>
    <div class="container" style="position: relative;width: 100%;max-width: 800px;line-height: 1;font-family: Tahoma, Verdana, Segoe, sans-serif;color: #3c3c3c">
      <div class="wrap" style="width: 100%;margin-top: 35px;margin-bottom: 35px">
        <h1 class="logo" style="margin-bottom: 30px;text-align: center"><a href="{HOST}/" target="_blank" style="text-decoration: none;color: #3c3c3c"><img src="{HOST}/images/templates/logo.jpg" alt=""/></a></h1>
        <div class="cont-box" style="width: 100%;background: white;text-align: center;border: 1px solid #ddd">
          <div class="box-top" style="background-color: #7bc6b8;padding: 50px 0;margin-bottom: 35px;color: white">
            <div class="box-tl" style="text-align: center;font-size: 28px;font-weight: 600;line-height: 36px">Thank you for using <br>{HOST}</div>
            <hr style="width: 80px;border-top: 1px solid #e9e8e4;border-bottom: transparent;margin-top: 30px;margin-bottom: 30px"/>
            <p style="font-size: 16px;font-weight: 500;white-space: pre-line;line-height: 22px;letter-spacing: 0.02em">Hello, {USERNAME}.
              Thank you for using {HOST}.
We are pleased to inform you that the requested member withdrawal has been completed.</p>

              <div class="thank" style="margin-top: 30px;margin-bottom: -20px"><img src="{HOST}/images/templates/thank.png" alt=""/></div>
          </div>

          <div class="bt-area" style="margin-bottom: 35px"><a class="btn btn-line" href="{HOST}/" target="_blank" style="text-decoration: none;color: #ff6288;border-radius: 3px;padding: 15px;text-align: center;display: inline-block;font-size: 15px;min-width: 200px;background-color: #fff;border: 2px solid #ff6288">{HOST}</a></div>
        </div>

      </div>
    </div>
  </body>
</html>